#home {
  background: url('../images/Cosmetics-Brushes.png') no-repeat center center/cover;
  height: 100vh;
}

h1 {
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(8, 7, 7);
}

li {
  display: inline;
}

li {
  float: right;
}

li a {
  color: rgb(207, 204, 204);
  display: block;
  text-decoration: none;
  padding: 14px 16px;

}

h1 {
  color: rgb(45, 19, 190);
}

.menu li {
  all: unset;
  float: inline-end;
}

.menu ul {
  background-color: rgb(115, 195, 248);
  margin: 14px;
  padding: 18px;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f3f9f1;
  white-space: nowrap;
  overflow: auto;
}


/* .product-container {
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px;
  width: 250px;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  transition: transform 0.3s;
}

div {
    display: block;
    unicode-bidi: isolate;
}
 */

 .text{
  text-align: center;
  background-color: #f3f9f1;
  margin-bottom: 1rem;
  margin-top: 0;

 } 

